*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css?family=Karla:400|Spectral:400");

html {
  height: 100%;
}


:root {
  --var-bg: #efca08;
  --bg-color: #f2f7f5;
  --clr-red: #CF6679;
  --clr-red2: #F55050;
  --clr-black: #121212;
  --box-shadow: 0px 11px 6px -3px rgba(0, 0, 0, 0.22);
  --box-sh-footer: 0px -10px 6px -3px rgba(0, 0, 0, 0.22);
  --bodyFont: "Karla", sans-serif;
  --letterSpacing: 1px;
  --transition: 1s ease-in-out all;
  --max-width: 1120px;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  font-family: var(--bodyFont);
}


.amount-p {
  display: flex;
  justify-content: center;
}